@charset "utf-8";

/* 色 */
:root{
  --base1: #ffffff;
  --base2: #f8f8fb;
  --base3: #e8e8eb;
  --base4: #d4d4d8;
  --base5: #c4c4c8;
  --base6: #b4b4b8;

  --blue1: #000060;
  --blue2: #0017c1;
  --blue3: #3460fb;
  --blue4: #7096f8;
  --blue5: #c5d7fb;
  --blue6: #d9e6ff;

  --red1: #fa0000;
  --red2: #ffbbbb;

  --yellow1: #e9f0b9;

  --green1: #c8efd2;

  --purple1: #f0c6ff;

  --text1: #333333;
  --text2: #666666;
  --text3: #999999;
  --text4: #bbbbbb;
}

/* box-shadow */
:root{
  --shadowRaised: 0.15rem 0.15rem 0.5rem var(--base3), -0.15rem -0.15rem 0.5rem var(--base1);
  --shadowInset: inset 0.1rem 0.1rem 0.25rem var(--base3), inset -0.1rem -0.1rem 0.25rem var(--base1);
}